//<МИКСИНЫ>
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
//</МИКСИНЫ>

//<ШРИФТЫ>

//<Подключаем шрифты>
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@font-face {
  font-family: 'AkzidenzGroteskBQCondensedBold';
  src: url("../fonts/AkzidenzGroteskBQCondensedBold.eot");
  src: local("☺"), url("../fonts/AkzidenzGroteskBQCondensedBold.woff") format("woff"), url("../fonts/AkzidenzGroteskBQCondensedBold.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBQCondensedBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/BebasNeueRegular.eot");
  src: local("☺"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
//font-display: swap;
/*браузер не ждет шрифт и сразу рендерит текст с фолбек шрифтом. Как только шрифт загружается, текст рендерится заново
*/
//</Подключаем шрифты>


//<Шрифт по умолчанию>
$fontfamily:"PT Sans";
//</Шрифт по умолчанию>
//</ШРИФТЫ>

//<ПЕРЕМЕННЫЕ>
$minwidth:320px;
$mw:880;
$md1:$mw+12;
$md2:767.98;
$md3:767.98;
$md4:479.98;
//</ПЕРЕМЕННЫЕ>

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
	&.lock{overflow: hidden;
		@media (max-width:$md3+px){
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
//-webkit-overflow-scrolling: touch;
//animation-play-state: paused !important;
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

//<ОБОЛОЧКА>
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	&.loaded{}
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 750px;}
	@media (max-width:$md2+px){max-width: none;padding:0 10px;}
}
//</ОСНОВНАЯ СЕТКА>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
//@import "datepicker.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>

//<ОСНОВНОЙ БЛОК>
.content {
	
}
.private {
	background-color: #000000;
	display:flex;
	margin-bottom: 75px;
	&_image {
		height: 100%;
	}
	&__columns {
		flex:0 0 50%;
	}
}

.private-body {
	max-width: 305px;
	padding: 72px 0 75px 0px;
	margin-left: 59px;
	&__title {
		color: #ffffff;
		font-family: "AkzidenzGroteskBQCondensedBold";
		font-size: 50px;
		line-height: 50px;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin-bottom: 24px;

	}
	&__text {
		color: #ffffff;
		font-family: "PT Sans";
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 52px;

	}
}

.private-body-buttons {
	&__link {
		color: #fffffe;
		font-family: Bebas;
		font-size: 20px;
		line-height: 25px;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		padding:14px 14px 14px;
	}
}


//============================================
.products {
	
	&__row {
		display: flex;
	}
	&__columns {
		flex:0 0 25%;
	}
	margin-bottom: 45px;
}

.products-item {
	display:flex;
	flex-direction:column;
	height: 100%;
	&__image {
		padding: 0 0 100% 0;
		display: block;
		margin-bottom: 25px;
	}

	&__title {
		color: #000000;
		font-family: "AkzidenzGroteskBQCondensedBold";
		font-size: 25px;
		line-height: 25px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		margin-bottom: 28px;
		height: 45px;
		padding: 0px 10px 0px 0px;
		max-width: 187px;
	}

	&__text {
		color: #000000;
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 32px;
		flex: 1 1 auto;
		padding: 0px 10px 0px 0px;
		max-width: 187px;
	}
	&__buttons {

		margin-bottom: 20px;
	}
	&__link {
		color: #000000;
		font-family: Bebas;
		font-size: 20px;
		line-height: 25px;
		display: inline-block;
		text-transform: uppercase;
		text-decoration: underline;
		letter-spacing: 1.5px;
		padding:14px 0px 14px;
		margin-bottom: 40px;
	}
}
.ibg {
}
//============================================
.why {
}
.why-top {
	background-color: #000;
	display: flex;
	&__column {
		flex: 0 0 50%;
	}
	&__text {
		color: #fff;
		font-family: "AkzidenzGroteskBQCondensedBold";
		font-size: 50px;
		text-transform: uppercase;
		letter-spacing: 5px;
		padding: 55px 60px 55px 0;
		text-align: right;
	}
	&__image {
		height: 100%;

	}
}
.ibg {
}
.why-body {
	background-color: #ebebeb;
	padding: 50px 0 0 0;
	&__row {
		display:flex;
	}
	&__column {
		flex: 0 0 50%;
		padding-bottom: 50px;
	}
}
.why-body-item {
	display:flex;
	&__icon {
		display:flex;
		min-width: 100px;
		max-height: 100px;
		background-color: #000;
		padding: 10px 0;
		align-items:center;
		justify-content:center;
	}
}
.why-body-item-body {
	padding-left: 15px;
	padding-right: 10px;
	&__text {
		font-size: 15px;
		line-height: 25px;

	}
	&__title {
		font-family: "AkzidenzGroteskBQCondensedBold";
		font-size: 25px;
		text-transform: uppercase;
		letter-spacing: 3px;
		height: 40px;
		padding-bottom: 10px;
	}
}

//============================================
.contact {
}
.contact-title {
	font-family: "AkzidenzGroteskBQCondensedBold";
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 75px;
	padding-bottom: 25px;
}
.contact-body {
	&__row {
		display: flex;
	}
	&__column {
		flex: 0 0 50%;
		display: flex;
		padding-bottom: 25px;
		padding-right: 10px;
	}
	&__img {
		padding-right: 10px;
	}
	&__text {
		line-height: 25px;
	}
	&__icon {
		margin-right: 28px;
	}
}

.contact-bottom {
	background-color: #000;
	display: flex;
	&__column {
		flex: 0 0 50%;
	}
	&__map{
		height: 100%;
	}
}

.contact-bottom-form {
	padding: 50px 50px 0 50px;
	max-width: 375px;
	&__title {
		font-family: "AkzidenzGroteskBQCondensedBold";
		font-size: 25px;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 2px;
		margin-bottom: 25px;
	}
	&__body {}
	&__line {
		margin-bottom: 25px;
	}
	&__btn {}
}



//</ОСНОВНОЙ БЛОК>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>
